@model OnlineStore.Models.Student

<h2>Delete</h2>
@using (Html.BeginForm("Delete", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Student</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.StudentId)
    @Html.HiddenFor(model => model.FullName)
    @Html.HiddenFor(model => model.Email)

    <div class="form-group">
        <img class="rounded" src="~/Content/Images/student-@(Model.StudentId).jpg"
             alt="@Model.FullName" title="@(Model.StudentId + "-" + Model.FullName)"
             width="100" height="80" />
    </div>

    <h2 class="text-danger">Would you like to delete this record?</h2>
    @*<a class="btn btn-primary" href="/Home/Index">Cancel</a>
        <input class="btn btn-warning" type="submit" value="Delete" /> &nbsp;&nbsp;*@
    <div class="col-md-offset-2 col-md-10">
        <button type="submit" class="btn btn-primary mt-2">
            <i class="fa fa-database"></i> Delete
        </button> &nbsp;
        <a href="/students" class="btn btn-success mt-2">
            <i class="fa fa-spinner fa-spin"></i>Cancel
        </a>
    </div>
</div>
}
